@import url('https://fonts.googleapis.com/css2?family=Antic&family=Fredericka+the+Great&display=swap');
$headingfont: 'Fredericka the Great',
serif;
$bodyfont: 'Antic',
sans-serif;
$color1Brown: #845348;
$color2yelow: #f09f2d;
$color3cream: #fefae0;
$color4darkgreen: #283618;
$color5lightergreen: #606c38;