@import url('https://fonts.googleapis.com/css2?family=Antic&family=Fredericka+the+Great&display=swap');
$headingfont: 'Fredericka the Great',
serif;
$bodyfont: 'Antic',
sans-serif;
$color1: #B08D82;
$color2: #B2C2D2;
$color3: #CCDBD2;
$color4: #DDEBCB;
$color5: #F8F3AB;