@import 'variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-Font;
    
}

p {
    font-family: $body-Font;
    font-weight: 700;
    
}

nav {
    font-family: $body-Font;
}

body {
    margin: 5em;
    background: url('https://images.unsplash.com/photo-1444858345149-8ff40887589b?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700'
    ) center center / cover no-repeat;
    position: relative;
    
}

.summary {
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.preamble, 
.main.supporting {
    
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 0;
    padding: .5em;
    border: 2px solid $color5;
    
       
   
}

header {
    color: $color7;
    width: 100%;
    font-size: 40px;
    text-align: center;
    text-shadow: $color3 30px 30px 30px;
    
    
     
}

header[role=banner] {
    background: url(/images/tree_logo.png)no-repeat left top;
    background-size: 150px auto; 
    padding: 10px 5px;   
                 
}


.intro h2 {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 20px; 
        
}

footer {
    position: absolute;
    margin: -1em 0;
    margin-top: 20px;
    padding: 2em;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
