* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-Font;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
}

p {
    font-family: $body-Font;
    font-weight: 700;
    padding-bottom: 10px;
}

body {
    margin: 0;
    background: url('https://images.unsplash.com/photo-1444858345149-8ff40887589b?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700') center center / cover no-repeat;
    position: relative;
}

.page-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}