@import 'variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-Font;
}

h3 {
    padding-bottom: 10px;
    padding-top: 5px;
}

p {
    font-family: $body-Font;
    font-weight: 700;
    padding-bottom: 10px;
}

nav {
    font-family: $body-Font;
}

body {
    margin: 0;
    background: url('https://images.unsplash.com/photo-1444858345149-8ff40887589b?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700') center center / cover no-repeat;
    position: relative;
}

.page-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

#zen-intro {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 4em;
    margin-bottom: 20em;
    background: url(/images/leaves_tran.png)no-repeat top left;
    background-blend-mode: lighten;
}

#zen-summary {
    background-color: transparent;
    border: none;
    background: url(/images/imgleaf.png)no-repeat top right;
    background-size: 200px auto;
    margin-top: -7em;
    z-index: 6;
}

.summary p {
    margin-right: 180px;
    width: 25rem;
    font-style: italic;
}

#zen-preamble {
    background-image: linear-gradient(to right, $color2, $color5);
    border: none;
    color: white;
    text-align: center;
    font-size: $sub-heading-font-size;
}

div[role=article] {
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 0;
    padding: 1em;
    border: 2px solid $color5;
    border-radius: 10px;
    a {
        color: $color7;
        text-decoration: none;
    }
    a:hover {
        color: $color3;
    }
    a:visited {
        color: $color2;
    }
}

header {
    text-align: center;
    color: $color7;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-shadow: $color3 30px 30px 30px;
    padding-bottom: 80px;
}

header h1 {
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}


/*
header[role=banner] {
    padding-top: 230px;
    background: url(/images/tree_logo.png)no-repeat 50% top;
    background-size: 200px auto;
    background-blend-mode: lighten;
}
*/

// header[role=banner] {
//     background: url(/images/leaves_tran.png)no-repeat top left;
//     background-blend-mode: lighten;
// }
aside {
    grid-column: 2;
    grid-row: 2;
    a {
        color: white;
        text-decoration: none;
        list-style-type: none;
    }
    a:hover {
        color: $color3;
    }
    a:visited {
        color: $color2;
    }
    nav[role=navigation] {
        li {
            padding: .85em;
            margin: 1em 0;
            text-decoration: none;
            list-style-type: none;
            background-color: $color4;
            color: white;
            border-radius: 7px;
        }
        li:hover {
            background-color: $color5;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .view-css {
        padding: .85em;
        margin: 1em 0;
        text-decoration: none;
        list-style-type: none;
        background-color: $color4;
        color: white;
        border-radius: 7px;
    }
    .css-resources {
        padding: .85em;
        margin: 1em 0;
        text-decoration: none;
        list-style-type: none;
        background-color: $color4;
        color: white;
        border-radius: 7px;
    }
    .zen-faq {
        padding: .85em;
        margin: 1em 0;
        text-decoration: none;
        list-style-type: none;
        background-color: $color4;
        color: white;
        border-radius: 7px;
    }
    .zen-submit {
        padding: .85em;
        margin: 1em 0;
        text-decoration: none;
        list-style-type: none;
        background-color: $color4;
        color: white;
        border-radius: 7px;
    }
    .zen-translations {
        padding: .85em;
        margin: 1em 0;
        text-decoration: none;
        list-style-type: none;
        background-color: $color4;
        color: white;
        border-radius: 7px;
    }
}

#design-selection {
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 2em 1em -1em;
    padding: 1em;
    border: 2px solid $color5;
    border-radius: 10px;
}

#design-archives {
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 2em 1em -1em;
    padding: 1em;
    border: 2px solid $color5;
    border-radius: 10px;
}

#zen-resources {
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 2em 1em -1em;
    padding: 1em;
    border: 2px solid $color5;
    border-radius: 10px;
}

.main {
    grid-column: 1 / span 1;
    grid-row: 2;
    margin: 0 2em;
    max-width: 1100px;
}

.intro h2 {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 15px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100px;
    background-color: $color4;
    padding: 2.5em 0;
    opacity: 0.8;
    a {
        color: $color2;
        padding: 0 3em;
        text-decoration: none;
    }
    a:hover {
        color: $color3;
    }
    a:visited {
        color: $color2;
    }
}

.zen-validate-html {
    color: $color6;
    padding: 0 1em;
}