@media only screen and (min-width: 60em) {
   #zen-intro header h1 {
    margin-right: 4em;

   }

   #zen-intro header h2 {
    padding-right: 1em;

   }

   div#zen-summary.summary {
    padding-right: 2em;
   }

}