div[role=article] {
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 0;
    padding: 1em;
    border: 2px solid $color5;
    border-radius: 10px;
    a {
        color: $color7;
        text-decoration: none;
         :hover {
            color: $color3;
        }
         :visited {
            color: $color2;
        }
    }
}