@import url('https://fonts.googleapis.com/css2?family=Antic&family=Fredericka+the+Great&display=swap');
//
// Typography
$heading-Font: 'Fredericka the Great',
serif;
$body-Font: 'Antic',
sans-serif;
$font-Size: 72px;
$sub-heading-font-size: 25px;
//
// Color theme
$color1: #845348;
$color2: #f09f2d; // rgba(240, 159, 45)
$color3: #fefae0; // rgba(254,	250, 224)
$color4: #283618; // rgba(rgba(40, 54, 24)
$color5: #606c38;
$color6: white;
$color7: black;
//
//For Media Queries
$break-small: 10em;
$break-medium: 31em;
$break-large: 50em;
@mixin breakpoint($break) {
    @if $break==large {
        @media (max-width: $break-large) {
            @content;
        }
    }
    @else if $break==medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }
    @else if $break==small {
        @media (max-width: $break-small) {
            @content;
        }
    }
    @else {
        @media ($break) {
            @content;
        }
    }
}

@mixin side-btn() {
    padding: .55em;
    margin: 1em 0;
    text-decoration: none;
    list-style-type: none;
    background-color: $color4;
    color: white;
    border-radius: 7px;
}

@mixin side-section {
    background-color: rgba(254, 250, 224, 0.5);
    margin: 1em 2em 1em -1em;
    padding: 1em;
    border: 2px solid $color5;
    border-radius: 10px;
}
