@import 'variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-Font;
}

p {
    font-family: $body-Font;
}

nav {
    font-family: $body-Font;
}

body {
    background-image: url("/images/beautiful-shot-forest-with-tall-green-trees.jpg");
}

.zen-intro {
    font-size: $font-Size;
}