@use 'variables' as *;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: $heading-font;
    color: $text-light;
    font-weight: normal;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

h2, h3 {
    font-family: $body-font;
    color: $text-light;
    font-weight: 200; /* thin */
    font-size: 6em;
    letter-spacing: 1px;
    line-height: 1em;

}

h4,
h5,
h6 {
    font-family: $heading-font;
}

body {
    background-image: url("/images/rootedTree1500.jpg") alt= "Rooted Tree";
    @include flexCenter;

        
}
p {
    font-family: $body-font;
    color: $text-light;
    padding: 0.5em 0;
    margin: 0;
}

nav {
    font-family: $body-font;
}

.zen-intro {
    font-size: $font-size;
}
//set breakpoint sizes for responsive viewport
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

@mixin breakpoint($break) {
    @if $break==large {
        @media (max-width: $break-large) {
            @content;
        }
    }

    @else if $break==medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }

    @else if $break==small {
        @media (max-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}