@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/images/rootedTree1500.jpg") alt= "Rooted Tree";
    
     
}

h1 {
    color: $text-light;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}
h2, h3 {
    color: $text-light;
    font-weight: 200; /* thin */
    font-size: 6em;
    letter-spacing: 1px;
    line-height: 1em;

}

h4,
h5,
h6 {
    font-family: $heading-Font;
}

p {
    font-family: $body-Font;
    color: $text-light;
    padding: 0.5em 0;
    margin: 0;
}

nav {
    font-family: $body-Font;
}

.zen-intro {
    font-size: $font-Size;
}