@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
// Typography
$heading-Font: 'Fredericka the Great', cursive;
$body-Font: 'Antic', sans-serif; //font-family: 'Antic', sans-serif;
$font-Size: 72px;

// Color theme
$color1: #845348;
$color2: #f09f2d;
$color3: #fefae0;
$color4: #283618;
$color5: #606c38;
$text-light: white;
$text-dark: black;



